<div class='main-container main-container-exercice'>
  <h3><%= @exercice.name %></h3>

  <% percent = (((@sentence.session_counter - 1) / 10.0) * 100) %>

  <div class="progress mb-4 mx-3">
    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= percent %>%" aria-valuemin="0" aria-valuemax="100"> </div>
    <div class="progress-bar bg-info" role="progressbar" style="width: <%= 100 - percent %>%" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="exercice-container mx-3">
    <%= render partial: 'sentences/shared/result', locals: {sentence: @sentence, prev_sentence: @prev_sentence, responses: @responses, result: @result}  %>

    <% if show_streak?(@sentence.streak) %>
      <div class="container">
        <div class="row justify-content-end">
          <div class="streak-message blink-streak p-2">
            <p> <%= @sentence.streak %>  correct answers in a row! </p>
            <p class='font-weight-bold'> <%= streak_congratulation %> </p>
          </div>
        </div>
      </div>
    <% end %>

    <p class="sentence"> <%= hide_answer(@sentence.value, @sentence.word_indexes) %> </p>
    <p class="english-sentence"><%= @sentence.english %></p>

    <%= render partial: 'sentences/shared/form', locals: {sentence: @sentence}  %>

    <%= render partial: 'sentences/shared/keyboard' %>

  </div>
</div>
