<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'grammar_blitz_logo_blitz.png' %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="<%= active_class(root_path) %>" >
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class=" <%= active_class(exercices_path) %>" >
          <%= link_to "Exercises", exercices_path, class: "nav-link" %>
        </li>
        <li class=" <%= active_class(profile_path) %>" >
          <%= link_to "Profile", profile_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag profile_picture(current_user), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_registration_path, class: " nav-link navbar-links sign-in-button px-4" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link navbar-links px-4" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

