<% method ||= :put %>
<% remote ||= false %>
<% edict.errors.each do |error| %>
  <%= error %>
<% end %>
<%= simple_form_for [@exercice, edict],
                    remote: remote,
                    html: { method: method, class: 'mt-1' } do |f|  %>
  <div class="d-flex justify-content-around">
    <%= f.input_field :value, class: 'mr-1'  %>
    <%= f.input_field :english, class: 'mr-1'  %>
    <%= f.input_field :hide_index,
                      input_html: {
                        value: ('1' unless f.object.persisted?) },
                      class: 'mr-1'  %>
    <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
  </div>
<% end %>
