<div class="container text-center mt-2">
  <% @exercices.each do |exercice| %>
    <%= link_to exercice.structure, exercice_edicts_path(exercice), class: 'btn btn-success'  %>
  <% end %>
  <%= link_to 'New Exercice', new_exercice_path, class: 'btn btn-warning' %>
</div>

<!-- Update form -->
<div id="edicts-container" class="container text-center mt-2">
  <% @edicts.each do |edict| %>
    <div class="d-flex justify-content-around">
      <%= render 'form', edict: edict, remote: true %>
      <%= link_to 'Delete', exercice_edict_path(@exercice, edict), method: :delete, class: 'btn btn-warning' %>
    </div>
  <% end %>

<!-- Form for new Edicts -->
  <div id="create_form" class="d-flex justify-content-around">
    <%= render 'form', edict: @edict, method: :post %>
    <div></div>
  </div>
</div>
