<div class="container text-center mt-2">
  <% @exercices.each do |exercice| %>
    <%= link_to exercice.structure,
                exercice_edicts_path(exercice),
                class: "btn btn-success mb-1 #{'disabled' if exercice == @exercice}" %>
  <% end %>
  <%= link_to 'New Exercice', new_exercice_path, class: 'btn btn-warning' %>
  <% if policy(Exercice).show? %>
    <%= link_to "show Exercise",
                exercice_path(@exercice),
                class: 'btn btn-primary d-inline'  %>
  <% end %>
</div>
<h1 class=text-center> <%= @exercice.name %> </h1>
<p class=text-center> <%= @exercice.description %> </p>

<div id="edicts-container" class="container text-center mt-2">
    <div class="d-flex justify-content-around">
      <p>The user will see</p>
      <p>German</p>
      <p>English</p>
      <p>Hidden words index</p>
      <div></div>
    </div>
  <% @edicts.each do |edict| %>
    <div class="d-flex justify-content-around align-items-center mb-1">
      <div class="sentence-preview">
        <%= highlight_hidden_word(edict.value, edict.hide_index) %>
      </div>
      <%= render 'form', edict: edict, remote: true %>
      <%= link_to 'Delete',
                  exercice_edict_path(@exercice, edict),
                  method: :delete,
                  data: { confirm: 'Sure?' },
                  class: 'delete-edict btn btn-warning' %>
    </div>
  <% end %>

<!-- Form for new Edicts -->
  <div id="create_form" class="d-flex justify-content-around mb-5">
    <%= render 'form', edict: @edict, method: :post %>
    <div></div>
  </div>
</div>
