<div id="sentence-container">

  <%= render 'practice_sessions/trials/shared/streak_congrat' %>
  <%= render 'practice_sessions/trials/shared/single_result' %>

  <div id="form-container" style= <%=  "display:none;" unless @start %> >
    <p id="english-sentence"> <%= trial.english %> </p>

    <%= form_with(url: practice_session_trial_path(@practice_session),
                  method: :post,
                  remote: true,
                  html: { autocomplete: "off", autocapitalize: 'off' }) do %>
        <div class='sentence-card'>
          <% split_sentence(trial.value, trial.edict.hide_index).each_with_index do |word, index| %>
              <% if trial.edict.hide_index.include?(index.to_s)  %>
                <%= text_field_tag "response_#{index}".to_sym, '',
                                   class:'input-field mx-2 mb-2 response' %>
              <% else %>
              <p class="sentence d-inline mr-2">
                  <%= word %>
              </p>
              <% end %>
          <% end %>
        </div>

      <%= submit_tag "BANG!", class:'cool-button text-center' %>

    <% end %>
  </div>
</div>
