<div class='main-container main-container-exercice'>
  <h3><%= @exercice.name %></h3>

    <%= render 'sentences/shared/progress_bar', counter: @sentence.session_counter %>

  <div class="exercice-container mx-3">
    <%= render 'sentences/shared/single_result' %>
    <%= render 'form', sentence: @sentence,
                       previous_value: @sentence.previous_value,
                       responses: @responses %>

    <%= render 'sentences/shared/keyboard' %>

  </div>
</div>
