<%= simple_form_for @exercice, html: { class: 'mt-1' } do |f|  %>

  <div class="d-inline">
    <%= f.input :name  %>
    <%= f.input :description  %>
    <%= f.input :structure  %>
    <%= f.label "Publish?" %>
    <%= f.check_box :published, class:'d-block m-auto'  %>
    <%= f.button :submit, value: 'Save', class: 'btn-primary mt-3' %>
  </div>

<% end %>
