<%= simple_form_for @exercice, html: { class: 'mt-1' } do |f|  %>

  <div class="d-inline">
    <%= f.input :name  %>
    <%= f.input :description  %>
    <%= f.input :structure  %>
    <%= f.input :published  %>
    <%= f.button :submit, value: 'Save', class: 'btn-primary' %>
  </div>

<% end %>
