<div class='main-container'>

  <h1 class='mb-5'>Pick up your practice!</h1>
  <div class="container">

    <div class="row justify-content-center">

      <div class="col-12 col-md-9">
        <div class="container">
          <% @exercices.each do |exercice| %>
            <div class="row mb-4">
              <div class="container card-exercice">

                <div class="row my-2">
                  <div class="col-md-auto text-left">
                    <h6> <%=  exercice.name %> </h6>
                  </div>
                </div>

                <div class="row my-2">
                  <div class="col-9 text-left">
                    <%= exercice.description %>
                  </div>
                </div>

                <div class="row my-4 justify-content-end">
                  <div class="col-6 col-md-2">
                    <%= link_to 'Settings', exercice_setup_path(exercice.id), { :class=>'index-button mx-3' }  %>
                  </div>

                  <div class="col-6 col-md-3">
                    <%= link_to 'Play', new_sentence_path(exercice: exercice), { :class=>'index-button mx-3' }  %>
                  </div>
                </div>

              </div>
            </div>
          <% end %>
        </div>
      </div>

      <% if current_user %>
        <div class="col-12 col-md-3">
          <div class="profile-card p-3 font-weight-bold">
            <h4> <%= current_user.username %> </h4>
            <%= image_tag profile_picture(current_user), class: "avatar-medium mb-3" %>

            <p><i class="fas fa-rocket rorocket"></i>
            <%= global_success_for(current_user, 1) * 88 %> points today. </p>

            <p>  <i class="fas fa-fire rorocket"></i></i>
            <%= global_precentage_for(current_user, 1) %>% correct answer today.</p>

            <p><i class="fas fa-rocket rorocket"></i>
            <%= global_success_for(current_user, 10000) * 88 %> points total. </p>

            <p><i class="fas fa-fire rorocket"></i></i>
             <%= global_precentage_for(current_user, 10000) %>% Correct answers total. </p>
          </div>
        </div>
      <% end %>

    </div>

  </div>

</div>
