<h1><%= @exercice.name %></h1>
<p>
  The exercice sentence is:
</p>
<p>
<%= @sentence[:english] %>
</p>
<p>
<%= @sentence[:german] %>

<%= form_with model: @progress_tracker do |f| %>
  <%= f.text_field :response %>
  <%= f.submit "Submit" %>
<% end %>
