<div class='main-container'>
  <h1><%= @exercice.name %></h1>
  <p>Your progress so far today:</p>
  <% percent = percentage_for_day(current_user, @exercice, 1) %>
  <div class="progress mb-4 progressbar-container">
    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= percent %>%" aria-valuemin="0" aria-valuemax="100"> <%= percent %>%</div>
    <div class="progress-bar bg-danger" role="progressbar" style="width: <%= 100 - percent %>%" aria-valuemin="0" aria-valuemax="100"><%= 100 - percent %>%</div>
  </div>

  <div class="exercice-container mx-3">

    <%= render partial: 'exercices/shared/result', locals: {exercice: @exercice, prev_sentence: @prev_sentence}  %>

    <% if show_streak?(@exercice.streak) %>
      <div class="container">
        <div class="row justify-content-end">
          <div class="streak-message blink-streak p-2">
            <p> <%= @exercice.streak %>  correct answers in a row! </p>
            <p class='font-weight-bold'> <%= streak_congratulation %> </p>
          </div>
        </div>
      </div>
    <% end %>

    <p class="mt-3 font-weight-bold">The next exercise sentence is:</p>
    <p><%= @exercice.english %></p>
    <p>
    <%= hide_answer(@exercice.sentence, @exercice.hide_index) %>

    <%= render partial: 'exercices/shared/form', locals: {exercice: @exercice}  %>

  </div>
</div>
