<div class='main-container'>
  <h1><%= @exercice.name %></h1>
  <h3>Your progress so far for today:</h3>
  <% percent = percentage_for_day(current_user, @exercice, 1) %>
  <div class="progress mb-4 progressbar-container">
    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= percent %>%" aria-valuemin="0" aria-valuemax="100"> <%= percent %>%</div>
    <div class="progress-bar bg-danger" role="progressbar" style="width: <%= 100 - percent %>%" aria-valuemin="0" aria-valuemax="100"><%= 100 - percent %>%</div>
  </div>

  <div class="exercice-container mx-3">

    <% if @exercice.result %>

      <% if success(current_user, @exercice) %>
        <div  class='success mb-3'>
          <p>GOOD JOB!</p>
        </div>
      <% elsif already_tried(current_user, @exercice) %>
        <p>The answer was:  <%= @exercice.prev_sentence %></p>
        <div  class='failure mb-3'>
          <p> Try again, you'll get it right next time!</p>
        </div>
      <% end %>
    <% end %>

    <% if show_streak?(@exercice.streak) %>
      <p> <%= @exercice.streak %>  correct answers in a row! <%= streak_congratulation %> </p>
    <% end %>

    <p class="mt-5 font-weight-bold">The next exercise sentence is:</p>
    <p><%= @exercice.english %></p>
    <p>
    <%= @exercice.obfus %>
    <% if already_tried(current_user, @exercice) %>
      <%= form_with(url: "/exercices/#{@exercice.id}", method: 'get', local: true, html: { autocomplete: "off" }) do %>
        <%= hidden_field_tag sentence: @exercice.sentence  %>
        <%= text_field_tag :response, '', class:'input-field mr-3 mb-2', autofocus: true%>
        <% if @exercice.structure.name == 's_v_io_do' %>
          <%= text_field_tag :response_2, '', class:'input-field mr-3'%>
        <% end %>
        <%= submit_tag "BANG!", class:'cool-button' %>
      <% end %>

    <% else %>
      <%= form_with(url: "/exercices/#{@exercice.id}", method: 'get', local: true, html: { autocomplete: "off" }) do %>
        <%= text_field_tag :response, '', class:'input-field mr-3', autofocus: true %>
        <% if @exercice.structure.name == 's_v_io_do' %>
          <%= text_field_tag :response_2, '', class:'input-field mr-3'%>
        <% end %>
        <%= submit_tag "BANG!", class:'cool-button' %>
      <% end %>

    <% end %>

  </div>
</div>
