<div class='main-container'>

  <h1><%= @exercice.name %></h1>
  <% if session[:success] == true %>
  <div  class='success'>
    <p>GOOD JOB!</p>
  </div>
  <% elsif session[:success] == false %>
    <p>the answer was:  <%= session[:prev_sentence] %></p>
    <div  class='failure'>
      <p> Try again, you'll get it right next time!</p>
    </div>
  <% end %>
  <p>Total number of correct answer: <%= @progress_tracker.counter %> </p>
  <p>The exercice sentence is:</p>
  <p><%= @sentence[:english] %></p>
  <p>
  <%= @sentence[:obfus] %>

  <% if @progress_tracker.counter %>
    <%= form_with(url: "/exercices/#{@exercice.id}/progress_trackers/#{@progress_tracker.id}", method: 'patch', local: true) do %>
      <%= text_field_tag :response %>
      <%#= hidden_field_tag(:solution, @sentence[:german]) %>
      <%= submit_tag "Submit" %>
    <% end %>

  <% else %>
    <%= form_with(url: "/exercices/#{@exercice.id}/progress_trackers", method: 'post', local: true) do %>
      <%= text_field_tag :response %>
      <%= submit_tag "Submit" %>
    <% end %>

  <% end %>
</div>
