<div class='main-container'>
  <h1><%= @exercice.name %></h1>

  <% if @exercice.result == true %>
  <div  class='success'>
    <p>GOOD JOB!</p>
  </div>
  <% elsif @exercice.result == false %>
    <p>the answer was:  <%= @exercice.prev_sentence %></p>
    <div  class='failure'>
      <p> Try again, you'll get it right next time!</p>
    </div>
  <% end %>
  <p>Total number of correct answer: <%= @progress_tracker.counter %> </p>
  <p>The exercice sentence is:</p>
  <p><%= @exercice.english %></p>
  <p>
  <%= @exercice.obfus %>
  <% if @progress_tracker.counter %>
    <%= form_with(url: "/exercices/#{@exercice.id}/progress_trackers/#{@progress_tracker.id}", method: 'patch', local: true) do %>
      <%= hidden_field_tag sentence: @exercice.sentence  %>
      <%= text_field_tag :response, '', autofocus: true%>
      <%= submit_tag "Submit" %>
    <% end %>

  <% else %>
    <%= form_with(url: "/exercices/#{@exercice.id}/progress_trackers", method: 'post', local: true) do %>
      <%= text_field_tag :response, '', autofocus: true %>
      <%= submit_tag "Submit" %>
    <% end %>

  <% end %>
</div>
